/*
*
* Text styling
*/

// Text styles
.text-italic {
	font-style: italic;
}

.text-normal {
	font-style: normal;
}

// Text decoration
.text-underline {
	text-decoration: underline;
}

.text-strike {
	text-decoration: line-through;
}

// Text weight
.fw-thin {
	font-weight: 100;
}

.fw-light {
	font-weight: 300;
}

.fw-regular {
	font-weight: 400;
}

.fw-medium {
	font-weight: 500;
}

.fw-sbold {
	font-weight: 600;
}

.fw-ubold {
	font-weight: 900;
}

// Text spacing
.text-spacing-0 {
	letter-spacing: 0;
}
 
.text-spacing-05 {
	letter-spacing: .05em;
}


// Colors
html {
	.text-primary { color: $primary; }
	.text-secondary { color: $secondary; }
	.text-tertiary { color: $tertiary; }
	.text-gray-3 { color: $gray-3; }
	.text-gray-500 { color: $gray-500; }
	.text-gray-800 { color: $gray-800; }
	.text-blue-11 { color: $blue-11; }
	.text-color-default { color: $body-color; }
}
