footer.section.footer-creative.context-dark
	.footer-creative-main
		.container
			.row.row-50.justify-content-lg-between
				.col-lg-5.col-xl-4
					p.footer-creative-title Quick Links
					.footer-creative-divider
					.row.row-narrow.row-15
						.col-6
							ul.list-marked-1
								li: a(href='job-listing-full.html') Browse Jobs
								li: a(href='job-listing.html') Browse Categories
								li: a(href='submit-resume.html') Submit Resume
								li: a(href='companies.html') Companies

						.col-6
							ul.list-marked-1
								li: a(href='post-a-job.html') Post a Job
								li: a(href='candidates-grid.html') Find a Candidate
								li: a(href='pricing-tables.html') Pricing Table
								li: a(href='faq.html') FAQ 

				.col-sm-6.col-lg-4.col-xl-3
					p.footer-creative-title Recent News posts
					.footer-creative-divider
					.post-line-group
						// Post Line
						a.post-line(href=links.post)
							time.post-line-time(datetime='2021')
								span.post-line-time-day 25
								span.post-line-time-month April

							p.post-line-text Canada adds 12,500 jobs in modest July rebound
					
						// Post Line
						a.post-line(href=links.post)
							time.post-line-time(datetime='2021')
								span.post-line-time-day 14
								span.post-line-time-month April

							p.post-line-text Outsourcing vs. In-House Digital Marketing

				.col-sm-6.col-lg-3
					p.footer-creative-title Jobs in Popular cities
					.footer-creative-divider
					.row.row-narrow.row-15
						.col-6
							ul.list.list-1.list-icons
								li: a(href='job-listing-full.html')
									span.icon.icon-sm.mdi.mdi-map-marker
									span San Francisco
									
								li: a(href='job-listing-full.html')
									span.icon.icon-sm.mdi.mdi-map-marker
									span Washington
									
								li: a(href='job-listing-full.html')
									span.icon.icon-sm.mdi.mdi-map-marker
									span Sacramento
									
						.col-6
							ul.list.list-1.list-icons
								li: a(href='job-listing-full.html')
									span.icon.icon-sm.mdi.mdi-map-marker
									span New York
									
								li: a(href='job-listing-full.html')
									span.icon.icon-sm.mdi.mdi-map-marker
									span Ontario
									
								li: a(href='job-listing-full.html')
									span.icon.icon-sm.mdi.mdi-map-marker
									span Chicago

	.footer-creative-aside
		.container
			+rights
