footer.section.footer-classic.context-dark
	.footer-classic-main
		.container
			.row.row-50.justify-content-md-between
				.col-md-5.col-lg-3
					p.footer-classic-title About Us
					.footer-classic-divider
					p.text-width-small CareerVolt is the leading job search on the Web that offers more than 2000 vacancies weekly.
					ul.list-inline.list-inline-sm
						li: a.icon.icon-xs.fa.fa-facebook(href='#')
						li: a.icon.icon-xs.fa.fa-twitter(href='#')
						li: a.icon.icon-xs.fa.fa-google-plus(href='#')
						li: a.icon.icon-xs.fa.fa-pinterest-p(href='#')

				.col-md-7.col-lg-5.col-xl-4
					p.footer-classic-title Quick Links
					.footer-classic-divider
					.row.row-15
						.col-sm-6
							ul.list-marked-1
								li: a(href='job-listing-full.html') Browse Jobs
								li: a(href='job-listing.html') Browse Categories
								li: a(href='submit-resume.html') Submit Resume
								li: a(href='companies.html') Companies

						.col-sm-6
							ul.list-marked-1
								li: a(href='post-a-job.html') Post a Job
								li: a(href='candidates-grid.html') Find a Candidate
								li: a(href='pricing-tables.html') Pricing Table
								li: a(href='faq.html') FAQ

				.col-lg-3
					p.footer-classic-title Contact Us
					.footer-classic-divider
					ul.list.list-sm
						li.unit.unit-spacing-xxs
							span.icon.unit-left.icon-sm.fa.fa-map-marker.text-primary
							.unit-body: a.link(href='#') 3015 Grand Ave, Coconut #[br] Grove, Merrick Way, FL 12345

						li.unit.unit-spacing-xxs
							span.icon.unit-left.icon-sm.fa.fa-phone.text-primary
							.unit-body: a.link(href='tel:#') 1-800-700-6200

	.footer-classic-aside
		.container
			+rights
