section.section.bg-image.bg-gray-700.bg-overlay-gradient-1.oh(style='background-image: url(images/bg-image-11.jpg);')
	.container
		.row.align-items-end
			.col-md-7.col-lg-7: .section-md
				h3 Get CareerVolt App for Your Mobile
				p Searching for jobs never been that easy. Now you can find job matched your career expectation, apply for jobs and receive feedback right on your mobile. Start your job search now!
				.group
					a.btn.btn-blue-10.btn-anorak.btn-fixed-size(href='#')
						img(src='images/google-play.svg', alt='')
					a.btn.btn-blue-10.btn-anorak.btn-fixed-size(href='#')
						img(src='images/appstore.svg', alt='')

			.col-md-5.col-lg-5
				.phone-frame-outer.wow.fadeInUp: .phone-frame
					img.phone-frame-object(src='images/phone-frame.png' alt='')
					figure.phone-frame-image-outer(style='background-image: url(images/phone-frame-image.jpg);')
					+img(logo.inverse).phone-frame-logo
					img.phone-frame-reflection(src='images/phone-frame-reflection.png' alt='')