+parallax({
	img: 'parallax-1-1920x780'
}).section-md.bg-gray-700.bg-overlay-5.text-center
	.container
		.row.row-30
			.col-6.col-md-3
				// Counter Classic
				article.counter-classic
					.counter-classic-main
						.counter 136
					.counter-classic-divider
					h6.counter-classic-title Jobs Every Day

			.col-6.col-md-3
				// Counter Classic
				article.counter-classic
					.counter-classic-main
						.counter 50
						span k
					.counter-classic-divider
					h6.counter-classic-title Current Resumes

			.col-6.col-md-3
				// Counter Classic
				article.counter-classic
					.counter-classic-main
						.counter 764
					.counter-classic-divider
					h6.counter-classic-title Companies

			.col-6.col-md-3
				// Counter Classic
				article.counter-classic
					.counter-classic-main
						span 9.5k
					.counter-classic-divider
					h6.counter-classic-title Registered Vacancies