/*
*
* Form styles
*/

// RD Form
.rd-form {
	position: relative;
	text-align: left;

	.btn {
		padding-top: 10px;
		padding-bottom: 10px;
		min-height: $form-input-height;
	}
}

* + .rd-form { margin-top: 20px; }

input:-webkit-autofill ~ label,
input:-webkit-autofill ~ .form-validation {
	color: $gray-800 !important;
}

//
// Form wrap
//
.form-wrap {
	position: relative;
}

.form-wrap-inner {
	position: relative;
}

.form-wrap-icon {
	.icon {
		position: absolute;
		z-index: 10;
		top: ($form-input-height - $form-input-line-height) / 2;
		left: $form-input-padding-horizontal - 2px;
		color: $form-input-color;
		line-height: $form-input-line-height;

		&:not(.icon-custom-sizing) {
			font-size: $form-input-font-size;
		}
	}
	
	.form-label,
	.form-input,
	.select2-container--default .select2-selection--single .select2-selection__rendered {
		padding-left: $form-input-padding-horizontal * 2 + 5px;
	}
}

.has-error {
	.form-input,
	.select2-container--default .select2-selection--single {
		border-color: $form-feedback-invalid-color;
	}
}

.has-focus {
	.form-input,
	.select2-container--default .select2-selection--single {
		border-color: $form-feedback-focus-color;
	}
}

// Form wrap offset
.form-wrap + * { margin-top: 30px; }
.rd-form {
	.form-wrap + .row { margin-top: 30px; }
}

// Form input
.form-input {
	display: block;
	width: 100%;
	min-height: $form-input-height;
	padding: $form-input-padding-vertical $form-input-padding-horizontal;
	font-size: $form-input-font-size;
	font-weight: $form-input-font-weight;
	line-height: $form-input-line-height;
	color: $form-input-color;
	background-color: $form-input-background;
	background-image: none;
	border-radius: $form-input-border-radius;
	-webkit-appearance: none;
	transition: .3s ease-in-out;

	@if ($form-input-border) {
		border: $form-input-border;
	}

	&:focus {
		outline: 0;
	}
}

// Form textarea
textarea.form-input {
	height: $form-textarea-default-height;
	min-height: $form-textarea-default-min-height;
	max-height: $form-textarea-default-max-height;
	resize: vertical;
}

// Form labels
.form-label,
.form-label-outside {
	margin-bottom: 0;
	color: $body-color;
	font-weight: $form-input-font-weight;
}

.form-label {
	position: absolute;
	top: round(($form-input-height - $form-input-line-height) / 2);
	left: 0;
	right: 0;
	padding-left: $form-input-padding-horizontal;
	padding-right: $form-input-padding-horizontal;
	font-size: $form-input-font-size;
	font-weight: $form-input-font-weight;
	line-height: $form-input-line-height;
	color: $form-input-color;
	pointer-events: none;
	text-align: left;
	z-index: 9;
	transition: .25s;
	will-change: transform;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

	&.focus {
		opacity: 0;
	}

	&.auto-fill {
		color: $form-input-color;
	}
}

// Form label out of the field
.form-label-outside {
	display: inline-block;
	margin-bottom: 6px;
	letter-spacing: .025em;
	color: $gray-800;
	cursor: pointer;

	@include media-breakpoint-up(md) {
		position: static;

		&,
		&.focus,
		&.auto-fill {
			transform: none;
		}
	}
}

.form-label-outside + .form-wrap-inner .form-label,
.form-label-outside + .form-wrap-inner .form-input,
.form-label-outside + .form-wrap-inner .select2-selection--single .select2-selection__rendered {
	color: $body-color;
}

[data-x-mode='true'] {
	.form-label {
		pointer-events: auto;
	}
}

//
// Form validation
//
.form-validation {
	position: absolute;
	right: 8px;
	top: 0;
	z-index: 11;
	margin-top: 2px;
	font-size: 9px;
	font-weight: 400;
	line-height: 12px;
	letter-spacing: 0;
	color: $form-feedback-invalid-color;
	transition: .3s;
}

.form-validation-left {
	.form-validation {
		top: 100%;
		right: auto;
		left: 0;
	}
}

// Form output
#form-output-global {
	position: fixed;
	bottom: 30px;
	left: 15px;
	z-index: 2000;
	visibility: hidden;
	transform: translate3d(-500px, 0, 0);
	transition: .3s all ease;

	&.active {
		visibility: visible;
		transform: translate3d(0, 0, 0);
	}

	@include media-breakpoint-up(sm) {
		left: 30px;
	}
}

.form-output {
	position: absolute;
	top: 100%;
	left: 0;
	font-size: 10px;
	font-weight: 400;
	line-height: 1.2;
	margin-top: 2px;
	transition: .3s;
	opacity: 0;
	visibility: hidden;

	&.active {
		opacity: 1;
		visibility: visible;
	}

	&.error {
		color: $form-feedback-invalid-color;
	}

	&.success {
		color: $form-feedback-valid-color;
	}
}

//
// Radio and Checkbox Custom
//
.radio .radio-custom,
.radio-inline .radio-custom,
.checkbox .checkbox-custom,
.checkbox-inline .checkbox-custom {
	opacity: 0;

	&, &-dummy {
		position: absolute;
		left: 0;
		width: 14px;
		height: 14px;
		outline: none;
		cursor: pointer;
	}

	&-dummy {
		pointer-events: none;

		&::after {
			position: absolute;
			opacity: 0;
			transition: .22s;
		}
	}

	&:focus {
		outline: none;
	}
}

.radio,
.radio-inline,
.checkbox,
.checkbox-inline {
	position: relative;
	cursor: pointer;
	user-select: none;

	input {
		@include visually-hidden;
	}
}

.radio-custom:checked + .radio-custom-dummy:after,
.checkbox-custom:checked + .checkbox-custom-dummy:after {
	opacity: 1;
}

//
// Custom Radio Styles
//
.radio,
.radio-inline {
	padding-left: 28px;

	.radio-custom-dummy {
		top: 1px;
		left: 0;
		width: 18px;
		height: 18px;
		border-radius: 50%;
		border: 1px solid $gray-400;

		&::after {
			content: '';
			top: 3px;
			right: 3px;
			bottom: 3px;
			left: 3px;
			background: $gray-700;
			border-radius: inherit;
		}
	}
}

//
// Custom Checkbox Styles
//
.checkbox {
	display: block;
}

.checkbox,
.checkbox-inline {
	padding-left: 30px;
	color: $gray-800;
	letter-spacing: .025em;

	.checkbox-custom-dummy {
		top: 1px;
		left: 0;
		width: 18px;
		height: 18px;
		margin: 0;
		border: 2px solid $gray-200;

		&::after {
			content: '\f222';
			font-family: $mdi;
			position: absolute;
			top: -5px;
			left: -2px;
			font-size: 21px;
			line-height: 1;
			color: $gray-800;
		}
	}
}

.checkbox-inline {
	padding-left: 25px;
}

.checkbox_info {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;

	> * + * { margin-left: 4px; }

	.checkbox-meta {
		color: $body-color;
		&::before { content: '\0028'; }
		&::after { content: '\0029'; }
	}
}

//
// Checkbox Toggle
//
.toggle-custom {
	padding-left: 60px;
	-webkit-appearance: none;

	&:checked ~ .checkbox-custom-dummy {
		&::after {
			background: $primary;
			transform: translate(20px, -50%);
		}
	}

	& ~ .checkbox-custom-dummy {
		$toggle-height: 20px;

		position: relative;
		display: inline-block;
		margin-top: -1px;
		width: 44px;
		height: $toggle-height;
		background: $form-input-background;
		cursor: pointer;

		&::after {
			content: '';
			position: absolute;
			display: inline-block;
			width: $toggle-height - 4px;
			height: $toggle-height - 4px;
			left: 0;
			top: 50%;
			background: $gray-400;
			transform: translate(4px, -50%);
			opacity: 1;
			transition: .22s;
		}
	}
}

//
// Form Inline
//
.form-inline {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	text-align: center;
	@include group(30px, 8px);

	> * {
		margin-top: 0;
	}

	.form-wrap {
		flex: 30 0;
		min-width: 220px;
	}

	.form-label {
		display: block;
	}

	.form-button {
		flex-grow: 1;
		min-height: $form-input-height;

		.btn {
			width: 100%;
			min-height: inherit;
		}
	}

	@include media-breakpoint-up(sm) {
		.btn {
			display: block;
		}
	}
}

%context-dark {
	.form-inline .form-input {
		border-color: $form-input-background;
	}
}

.form-inline.form-inline_condensed {
	.form-input { border-radius: $border-radius 0 0 $border-radius;}
	.btn {border-radius: 0 $border-radius $border-radius 0;}
	margin-left: 0;
	> * {
		margin-left: 0;
	}
}

//
// Form Small
//
.form-sm {
	.form-input,
	.btn {
		padding-top: 9px;
		padding-bottom: 9px;
		min-height: $form-input-sm-height;
	}

	.form-validation {
		top: -16px;
	}

	.form-label {
		top: $form-input-sm-height / 2;
	}

	* + .btn {
		margin-top: 10px;
	}
}

//
// Form Large
//
.form-lg {
	.form-input,
	.select2-selection.select2-selection--single .select2-selection__rendered {
		padding-top: round(($form-input-lg-height - $form-input-line-height) / 2) - 1px;
		padding-bottom: round(($form-input-lg-height - $form-input-line-height) / 2) - 1px;
	}

	.form-input {
		min-height: $form-input-lg-height;
	}
	.select2-selection.select2-selection--single {
		min-height: $form-input-lg-height;
	}

	.form-button {
		min-height: $form-input-lg-height;
	}

	.form-label {
		top: round(($form-input-lg-height - $form-input-line-height) / 2);
	}
	
	.form-wrap-icon {
		.icon {
			top: ($form-input-lg-height - $form-input-line-height) / 2;
		}
	}
}

//
// Form Centered
//
.form-centered {
	.form-label,
	.form-input {
		text-align: center;
	}

	.form-wrap + * { margin-top: 15px; }
}

//
// Form Light
//
.form-light {
	.form-input {
		box-shadow: 0 9px 21px 0 rgba(30, 30, 30, 0.38);
	}
}

%context-dark {
	.form-light {
		.form-label,
		.form-input,
		.form-validation {
			color: $white;
		}

		.form-input {
			background: rgba($white, .47);
			border: 0;
		}
	}
}

//
// Form Filled
//
.form-filled {
	.form-input,
	.select2-container--default .select2-selection--single {
		background: $gray-100;
		border-color: $gray-100;
	}
}

.select2-dropdown-filled.select2-dropdown {
	color: $gray-700;
	background: $gray-100;
	border-color: $gray-100; 
}

%context-dark {
	.form-filled {
		.form-label,
		.form-input,
		.form-validation {
			color: $white;
		}

		.form-input {
			background: rgba($white, .25);
			border-color: transparent;
		}
	}
}

//
// Form Corporate
//
.form-corporate {
	padding: 30px 20px;
	background: $gray-100;

	textarea.form-input {
		height: 125px;
	}
}

@include media-breakpoint-up(md) {
  .form-corporate {
		padding: 30px;
	}
}

@include media-breakpoint-up(md) {
  .form-corporate_sm {
		padding: 20px 15px;
	}
}

@include media-breakpoint-up(xl) {
	.form-corporate {
		padding: 35px 30px 50px;

		h4 + .form-wrap { margin-top: 30px; }
	}

	.form-corporate_sm {
		padding: 35px 35px 50px;
	}
}

//
// Custom Button Indicator
//
.rd-form {
	.btn-form-indicator {
		position: relative;
		min-width: $form-input-height + 10px;
		padding: 8px;
		min-height: $form-input-height;

		.icon {
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.form-icon-default {
			transition: .3s;
		}

		.form-icon-success {
			transform: scale(0, 0);
			transition: .15s;
		}
	}

	&.success .btn-form-indicator {
		.form-icon-default {
			transform: scale(0, 0);
			transition: .15s;
		}

		.form-icon-success {
			transform: scale(1, 1);
			transition: .3s;
		}
	}

	&.form-lg {
		.btn-form-indicator {
			min-width: $form-input-lg-height + 10px;
			min-height: $form-input-lg-height;
		}
	}
}

//
// Form Compact
//
.form-compact {
	.form-wrap + * { margin-top: 14px; }

	@media (max-height: 400px) {

		.form-label,
		.form-input {
			padding: 8px 15px;
			min-height: 36px;
		}

		.form-label {
			top: 0;
			left: 0;
		}

		.btn {
			padding-top: 10px;
			padding-bottom: 10px;
			min-height: 36px;
		}

		.form-wrap + * { margin-top: 8px; }
		* + .form-wrap-ally { margin-top: 14px; }
	}
}


//
// Form Layout Search
//
.form-layout-search {
	display: flex;
	flex-wrap: wrap;
	@include group(15px);

	.form-wrap {
		flex: 20 0;
		min-width: 250px;
	}
	
	.form-wrap-select {
		max-width: 100%;
	}
	
	.form-wrap-button {
		display: inline-flex;
		flex-grow: 1;

		.btn {
			width: 100%;
			min-height: inherit;
		}
	}

	.form-wrap-icon {
		.icon {
			&:not(.icon-custom-sizing) {
				font-size: 20px;
			}
		}
	}

	.select2-container--default .select2-selection--single .select2-selection__rendered {
		position: relative;
		top: 1px;
	}

	.select2-container {
		display: block;
		min-width: 100%;
	}
	
	&.form-lg {
		.form-label,
		.form-input,
		.select2-container--default .select2-selection--single .select2-selection__rendered {
			font-size: 16px;
			letter-spacing: .05em;
		}
	}
	
	@media (min-width: 400px) {
		.form-wrap {
			min-width: 270px;
		}
	}
	
	@include media-breakpoint-up(md) {
		.form-wrap-select {
			max-width: 310px;
		} 
	}
	
	@include media-breakpoint-up(xl) {
		.form-wrap-button {
			min-width: 168px;
		}

		.form-wrap-button-icon-only {
			min-width: 75px;
		}
	} 
	
	@include media-breakpoint-between(lg, xl) {
		.form-wrap-button-search-lg-lg {
			font-size: 0;
			flex-grow: 0;
			min-width: $form-input-height;
			
			.btn {
				padding: 10px;
				font-size: 0;
				
				&::before {
					content: '\e01c';
					font: 400 20px 'fl-budicons-launch';
				}
			}
		}
		
		&.form-lg .form-wrap-button-search-lg-lg  {
			min-width: $form-input-lg-height;
		}
	}

	@include media-breakpoint-between(md, lg) {
		.form-wrap-button-search-md-lg {
			font-size: 0;
			flex-grow: 0;
			min-width: $form-input-height;

			.btn {
				padding: 10px;
				font-size: 0;

				&::before {
					content: '\e01c';
					font: 400 20px 'fl-budicons-launch';
				}
			}
		}

		&.form-lg .form-wrap-button-search-md-lg  {
			min-width: $form-input-lg-height;
		}
	}
}

.form-layout-search + .row { margin-top: 40px; }


// 
// Form Spacing Small
//
.form-spacing-small {
	* + .form-wrap { margin-top: 15px; }
}


//
// Form Creative
//
.form-creative-outer {
	padding: 24px 20px 20px;
	background: $gray-100;

	@include media-breakpoint-up(md) {
		.form-wrap-select {
			max-width: 280px;
		}
	}
}


//
// Form Style 1
//
.form-style-1 {

}

%context-dark {
	.form-style-1 {
		.form-label,
		.form-input,
		.form-validation {
			color: $white;
		}

		.form-validation {
			opacity: .7;
		}

		.form-label,
		.form-input {
			padding-left: 20px;
			padding-right: 20px;
		}

		.form-input {
			background: $blue-14;
			border-color: $blue-14;
		}
	}
}
