/*
*
* Posts
*/

// 
// Table of Contents:
// 
// Post Classic
// Post Creative
// Post Light
// Post Info
// Post Modern
// Post Minimal
// Post Line
//

//
// Post Classic
//
.post-classic {
	padding-bottom: 20px;
	border-bottom: 1px solid $gray-200;
	transition: .22s ease-in;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;

	&:hover {
		transform: translate3d(0, -12px, 0);
	}
}

.post-classic-media {
	position: relative;
	display: block;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba($blue-1, .2);
		transition: .22s ease-in;
		opacity: 0;
		visibility: hidden;
	}

	&:hover {
		&::after {
			opacity: 1;
			visibility: visible;
		}
	}
}

.post-classic-image {
	width: 100%;
}

.post-classic-time {
	display: block;
	font-family: $font-family-sec;
	font-size: 12px;
	font-weight: 600;
	line-height: 1.2;
	letter-spacing: .1em;
	color: $primary;
}

.post-classic-text {
	letter-spacing: .025em;
}

.post-classic-meta {
	color: $gray-800;
	@include spacing(40px, 5px);

	.icon {
		color: $primary;
	}

	> li {
		display: inline-block;
		line-height: 1.2;
		vertical-align: middle;

		&:not(:last-child) {
			border-right: 1px solid $gray-200;
		}

		a {
			display: block;
		}
	}

	> li > a * + * {
		margin-left: 4px;
	}

	span {
		display: inline-block;
	}
}

* + .post-classic-time { margin-top: 10px; }

* + .post-classic-title { margin-top: 15px; }

* + .post-classic-meta { margin-top: 15px; }

* + .post-classic-text { margin-top: 16px; }

@include media-breakpoint-down(md) {
	.post-classic {
		max-width: 370px;
		margin-left: auto;
		margin-right: auto;
	}
}

@include media-breakpoint-up(md) {
	* + .post-classic-time { margin-top: 12px; }
	* + .post-classic-title { margin-top: 20px; }
	* + .post-classic-text { margin-top: 24px; }
}

//
// Post Creative
//
.post-creative {
	p {
		letter-spacing: .05em;
	}
}

.post-creative-image {
	width: 100%;
}

.post-creative-meta {
	justify-content: space-between;
	border-bottom: 1px solid $gray-200;
	padding: 20px 0;

	p a {
		color: inherit;

		&:hover {
			color: $primary;
		}
	}
}

.post-creative-meta-inner {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	@include group(20px);
}

.post-creative-author {
	display: flex;
	align-items: center;

	> * + * {
		margin-top: 0;
		margin-left: 10px;
	}
}

.post-creative-author-image {
	display: block;
	max-width: 36px;
	border-radius: 50%;
}

.post-creative-meta-list {
	@include spacing(38px, 5px);
	letter-spacing: .05em;

	> li {
		display: inline-block;
		vertical-align: middle;
		line-height: 1.2;

		> * {
			display: inline-block;
			vertical-align: middle;
			line-height: 1.2;
		}

		> * + * {
			margin-left: 5px;
		}

		&:not(:last-child) {
			border-right: 1px solid $gray-200;
		}
	}

	.icon {
		position: relative;
		top: -1px;
		color: $gray-800;
	}

	.mdi-clock { font-size: 16px; }
	.fl-justicons-visible6 { font-size: 13px; }
	.mdi-message-outline { font-size: 15px; }
}

.post-creative-footer {
	padding: 20px 25px;
	color: $gray-800;
	background: $gray-100;
}

.post-creative-footer-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	@include group(10px);

	> * {
		margin-top: 0;
	}
}

.post-creative-meta + * { margin-top: 20px; }

* + .post-creative-footer { margin-top: 25px; }

@include media-breakpoint-up(lg) {
	.post-creative-meta + * { margin-top: 32px; }
}

//
// Post Light
// 
.post-light {
	display: flex;
	background: $gray-100;
	transition: .22s ease-in;

	&,
	&:active,
	&:focus,
	&:hover {
		color: $body-color;
	}

	&:hover {
		box-shadow: 2px 2px 2px 0 rgba($black, .1);
	}
}

.post-light-media {
	position: relative;
	overflow: hidden;
	display: block;
	width: 106px;
	flex-shrink: 0;
}

.post-light-image {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-height: 100%;
	min-width: 100%;
	width: auto;
	height: auto;
	max-width: none;

	@supports (object-fit: cover) {
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		transform: none;
		object-fit: cover;
		object-position: center center;
	}
}

.post-light-main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
	padding: 18px;
}

.post-light-title {
	max-width: 170px;
	color: $gray-800;

	a {
		color: inherit;
	}
}

.post-light-time {
	display: block;
}

* + .post-light { margin-top: 16px; }

* + .post-light-time { margin-top: 1px; }

//
// Post Info
//
.post-info {
	background: $white;

	* + hr { margin-top: 16px; }
	* + .badge { margin-top: 10px; }
	* + .btn { margin-top: 22px; }
}

.post-info-media {
	position: relative;
	overflow: hidden;
	display: flex;
	background-position: center center;
	background-size: cover;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba(#394754, .52);
	}

	> * {
		width: 100%;
		flex-shrink: 0;
	}
}

.post-info-media-caption {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
}

.post-info-media-dummy {
	opacity: 0;
	visibility: hidden;

	&::before {
		content: '';
		display: block;
		padding-bottom: (182 / 367) * 100%;
	}
}

.post-info-main {
	background-color: $gray-100;
	padding: 30px 15px;
}

.post-info-title {
	font-family: $font-family-sec;
	font-size: 16px;
	line-height: 1.3;
	letter-spacing: .025em;
	color: $headings-color;

	a {
		color: inherit;
	}
}

.post-info-meta {
	color: $gray-800;
	letter-spacing: .025em;

	> li {
		white-space: nowrap;

		> * {
			display: inline-block;
			vertical-align: top;
			white-space: normal;
		}

		> * + * { margin-left: 10px; }
	}

	.icon {
		position: relative;
		top: 3px;
		color: $primary;
	}

	> li + li { margin-top: 5px; }
}

* + .post-info-meta { margin-top: 15px; }

* + .post-info-text { margin-top: 18px; }

@include media-breakpoint-down(sm) {
	.post-info {
		max-width: 370px;
		margin-left: auto;
		margin-right: auto;
	}
}

@include media-breakpoint-up(md) {
	.post-info-title {
		font-size: 20px;
	}
}

@include media-breakpoint-up(md) {
	.post-info-main {
		padding: 30px 30px 35px;
	}
}

@include media-breakpoint-up(xl) {
	.post-info-main {
		padding: 33px 40px 40px;
	}
}

//
// Post Modern
//
.post-modern {
	height: 100%;
	padding: 30px 21px 40px;
	background: $white;
	box-shadow: 0 13px 16px 0 rgba($black, 0.13);
	transition: .3s;

	* + hr { margin-top: 16px; }

	&:hover {
		transform: translateY(-8px);
		box-shadow: 0 14px 24px 2px rgba($black, 0.16);
	}
}

.post-modern-media {
	position: relative;
	display: block;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba($white, .1);
		transition: .22s ease-in;
		opacity: 0;
		visibility: hidden;
	}

	&:hover {
		&::after {
			opacity: 1;
			visibility: visible;
		}
	}
}

.post-modern-image {
	width: 100%;
}

.post-modern-title {
	max-width: 300px;
	letter-spacing: .025em;
}

.post-modern-meta {
	font: 600 12px/16px $font-family-sec;
	text-transform: uppercase;
	letter-spacing: .1em;
	@include spacing(34px, 5px);

	a {
		letter-spacing: inherit;
	}

	> li {
		position: relative;
		display: inline-block;
		vertical-align: middle;
	}

	> li {
		&:not(:last-child) {
			&::before {
				content: '';
				position: absolute;
				right: 0;
				top: 50%;
				transform: translate3d(0, -50%, 0);
				height: 15px;
				border-right: 1px solid $gray-300;
			}
		}
	}
}

.col-12.col-lg-4 {
	@include media-breakpoint-between(sm, md) {
		.post-modern {
			display: flex;
			align-items: center;
			max-width: 100%;
			padding: 30px 50px 30px 25px;

			> * + * {
				margin-left: 30px;
			}
		}

		.post-modern-media {
			flex-shrink: 0;
			max-width: 48%;
		}

		.post-modern-main {
			flex-grow: 1;
			margin-top: 0;
		}
	}
}

* + .post-modern-main { margin-top: 14px; }

* + .post-modern-title { margin-top: 14px; }

* + .post-modern-meta { margin-top: 14px; }

@include media-breakpoint-down(sm) {
	.post-modern {
		max-width: 370px;
		margin-left: auto;
		margin-right: auto;
	}
}

@include media-breakpoint-up(md) {
	.post-modern {
		* + hr { margin-top: 25px; }
	}

	* + .post-modern-main { margin-top: 25px; }
	* + .post-modern-title { margin-top: 25px; }
	* + .post-modern-meta { margin-top: 25px; }
}

//
// Post Minimal
//
.post-minimal {
	background: $white;
	transition: .3s;

	p {
		letter-spacing: .025em;
	}

	&:hover {
		transform: translateY(-8px);
		box-shadow: 0 13px 16px 0 rgba($black, 0.13);
	}
}

.post-minimal-media {
	position: relative;
	display: block;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background: rgba($white, .1);
		transition: .22s ease-in;
		opacity: 0;
		visibility: hidden;
	}

	&:hover {
		&::after {
			opacity: 1;
			visibility: visible;
		}
	}
}

.post-minimal-image {
	width: 100%;
}

.post-minimal-main {
	padding: 25px 15px;
}

.post-minimal-title {
	max-width: 300px;

	a {
		letter-spacing: 0;
	}
}

.post-minimal-time {
	display: block;
	font: 600 12px/16px $font-family-sec;
	color: $primary;
	letter-spacing: .1em;
}

.col-12.col-lg-4 {
	@include media-breakpoint-between(sm, md) {
		.post-minimal {
			display: flex;
			max-width: 100%;
		}

		.post-minimal-media {
			position: relative;
			overflow: hidden;
			flex-shrink: 0;
			width: 100%;
			max-width: 44%;

			img {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				min-height: 100%;
				min-width: 100%;
				width: auto;
				height: auto;
				max-width: none;

				@supports (object-fit: cover) {
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					transform: none;
					object-fit: cover;
					object-position: center center;
				}
			}
		}

		.post-minimal-main {
			flex-grow: 1;
			align-self: center;
			padding: 40px 35px;
		}
	}
}

* + .post-minimal-title { margin-top: 14px; }
* + .post-minimal-time { margin-top: 14px; }

@include media-breakpoint-down(sm) {
	.post-minimal {
		max-width: 370px;
		margin-left: auto;
		margin-right: auto;
	}
}

@include media-breakpoint-up(md) {
	.post-minimal {
		* + hr { margin-top: 25px; }
	}

	.post-minimal-main {
		padding: 20px 35px 35px 40px;
	}

	* + .post-minimal-title { margin-top: 25px; }
	* + .post-minimal-time { margin-top: 20px; }
}

@include media-breakpoint-between(lg, xl) {
	.post-minimal-main {
		padding: 20px 20px 30px 26px;
	}
}


//
// Post Line
//
.post-line {
	display: flex;
	max-width: 320px;
	align-items: flex-start;
	text-align: left;
	color: $body-color;
}

.post-line-time {
	position: relative;
	display: block;
	min-width: 60px;
	padding: 3px 10px 3px 0;
	text-align: center;

	&::after {
		content: '';
		position: absolute;
		top: 2px;
		bottom: 8px;
		right: 0;
		width: 1px;
		background: $gray-300;
		pointer-events: none;
	}

	* + * { margin-top: 3px; }
}

.post-line-time-day,
.post-line-time-month {
	display: block;
	line-height: 1;
}

.post-line-time-day {
	font-family: $font-family-sec;
	font-size: 33px;
	color: $gray-800;
}

.post-line-time-month {
	font-size: 10px;
	font-weight: 700;
	letter-spacing: .05em;
	text-transform: uppercase;
}

.post-line-text {
	padding: 3px 0 3px 20px;
	margin: 0;
	line-height: (24 / 14);
	color: $gray-800;
	transition: .25s;

	a {
		display: block;
		color: inherit;

		&:hover {
			color: $primary;
		}
	}
}

* + .post-line { margin-top: 20px; }

%context-dark {
	.post-line {
		&:hover {
			.post-line-text {
				text-shadow: 1px 1px 10px rgba($white, .7);
			}
		}
	}
	
	.post-line-text {
		color: $white;
	}
	
	.post-line-time {
		color: rgba($white, .5);
		
		&::after {
			background: rgba($white, .12);
		}
	}
	.post-line-time-day {
		color: rgba($white, .7);
	}
}
