// Pricing Table Creative Group
.pt-creative-group
	// Pricing Table Creative
	article.pt.pt-creative
		p.pt-title Startup
		p.pt-price
			span.pt-price-small.pt-price-currency $
			span 59
			span.pt-price-small 00

		.pt-creative-features
			ul.list.list-marked
				li Post 8 Jobs
				li 5 Highlighted Job Posts
				li Browse Your Job Listings
				li Access to Job Posting Stats
				li Email Support
				li Jobs Expire In 90 Days
		a.btn.btn-primary-outline(href='#') Get started

	// Pricing Table Creative
	article.pt.pt-creative.pt-creative_preferred
		p.pt-title Company
		p.pt-price
			span.pt-price-small.pt-price-currency $
			span 89
			span.pt-price-small 00

		.pt-creative-features
			ul.list.list-marked
				li Post 28 Jobs
				li 10 Highlighted Job Posts
				li Edit Your Job Listings
				li Access to Job Posting Stats
				li Email and Phone Support
				li Jobs Expire In 180 Days
		a.btn.btn-primary-outline(href='#') Get started

	// Pricing Table Creative
	article.pt.pt-creative
		p.pt-title Enterprise
		p.pt-price
			span.pt-price-small.pt-price-currency $
			span 199
			span.pt-price-small 00

		.pt-creative-features
			ul.list.list-marked
				li Post 35 Jobs
				li 15 Highlighted Job Posts
				li Replace Your Job Listings
				li Access to Job Posting Stats
				li 24/7 Support
				li Jobs Expire In 250 Days
		a.btn.btn-primary-outline(href='#') Get started
