.row.row-50.justify-content-center
	.col-md-6.col-lg-4
		// Pricing Table Classic
		article.pt.pt-classic
			.pt-classic-header
				.pt-classic-item
					p.pt-title Startup
					span.badge 7 Days Free
				p.pt-price
					span.pt-price-small.pt-price-currency $
					span 59
					span.pt-price-small 00

			.pt-classic-main
				ul.pt-classic-features
					li Post 8 Jobs
					li 5 Highlighted Job Posts
					li Browse Your Job Listings
					li Access to Job Posting Stats
					li Email Support
					li Jobs Expire In 90 Days
				a.btn.btn-primary-outline(href='#') Get started

	.col-md-6.col-lg-4
		// Pricing Table Classic
		article.pt.pt-classic
			.pt-classic-header
				.pt-classic-item
					p.pt-title.text-tertiary Company
				p.pt-price
					span.pt-price-small.pt-price-currency $
					span 89
					span.pt-price-small 00

			.pt-classic-main
				ul.pt-classic-features
					li Post 28 Jobs
					li 10 Highlighted Job Posts
					li Edit Your Job Listings
					li Access to Job Posting Stats
					li Email and Phone Support
					li Jobs Expire In 180 Days
				a.btn.btn-primary-outline(href='#') Get started

	.col-md-6.col-lg-4
		// Pricing Table Classic
		article.pt.pt-classic
			.pt-classic-header
				.pt-classic-item
					p.pt-title.text-secondary Enterprise
				p.pt-price
					span.pt-price-small.pt-price-currency $
					span 199
					span.pt-price-small 00

			.pt-classic-main
				ul.pt-classic-features
					li Post 35 Jobs
					li 15 Highlighted Job Posts
					li Replace Your Job Listings
					li Access to Job Posting Stats
					li 24/7 Support
					li Jobs Expire In 250 Days
				a.btn.btn-primary-outline(href='#') Get started