.row.row-50.row-bordered.justify-content-center
	.col-sm-6.col-md-4
		// Box Line
		article.box-line
			.box-line-icon.icon.mercury-icon-target
			.box-line-divider
			h5.box-line-title Only relevant and verified vacancies 24/7

	.col-sm-6.col-md-4 
		// Box Line
		article.box-line
			.box-line-icon.icon.mercury-icon-group
			.box-line-divider
			h5.box-line-title More than 3.8 million visitors every day

	.col-sm-6.col-md-4
		// Box Line
		article.box-line
			.box-line-icon.icon.mercury-icon-partners
			.box-line-divider
			h5.box-line-title Leading recruiting website in the US and Europe
